dash==2.16.1
dash-bootstrap-components==1.5.0
dash-mantine-components==0.12.1
plotly==5.20.0
numpy==1.26.4
pillow==10.4.0
requests==2.31.0
pycountry==23.12.11
pycountry-convert==0.7.2
country_converter==0.8.0
